{{outlet}}

<form id='ques'>
<h3>Rules<br>
  1.There are totally 10 questions.<br>
  2.Each question carries 1 mark.<br>
  3.There is no negative marking.<br>
  4.Please do not refresh the page while taking up the test.<br>
</h3>
<h2>All the best!</h2>
{{#link-to 'questions' '1'}}
<button class="button button2" type="submit">Get Started</button>
{{/link-to}}
</form>

{{outlet}}
