{{outlet}}
<form id='ques'>
<h3>Rules<br>
  1.Each question has to be answered within 30 seconds.<br>
  2.There is no negative marking.<br>
</h3>
<h2>All the best!</h2>
{{#link-to 'questions' '1'}}
<button class="button button2" type="submit">Get Started</button>
{{/link-to}}
</form>

{{outlet}}
